@model P2_2020MV603_2020DO601_2020GR603.Models.Casos_Reportados

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Casos_Reportados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="casos_Confirmados" class="control-label"></label>
                <input asp-for="casos_Confirmados" class="form-control" />
                <span asp-validation-for="casos_Confirmados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="casos_Recuperados" class="control-label"></label>
                <input asp-for="casos_Recuperados" class="form-control" />
                <span asp-validation-for="casos_Recuperados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="casos_Fallecidos" class="control-label"></label>
                <input asp-for="casos_Fallecidos" class="form-control" />
                <span asp-validation-for="casos_Fallecidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
