@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Registro de Covid</h1>
    <br />
    <h5>El siguiente formulario es para llevar el registro de casos reportados de Covid por departamento y genero.</h5>
</div>
<br />
<br />
<h4>Reportar casos</h4>
<form>
@*Inicio *@
<div class="form-group row mb-4">
    <div class="col-sm-2">
        <label></label>
    </div>
</div>
<div class="col-sm-4">
    
</div>
@*Fin*@
</form>
@{}



